/**
 * 모달이 작동될 수 있도록 하는 CSS 입니다.
 * 모달 창이 보여져야할때는 .modal-wrap에 active 클래스를 부여하고
 * active클래스가 있을 경우 visiblity는 visible, active클래스가 존재하지 않을 때는 hidden을 주어 모달창의 보여짐을 설정하고
 * animation을 위해 opacity와 tranform에 transition 효과를 주도록 되어있습니다.
 */

.App {
  font-family: sans-serif;
  text-align: center;
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.modal-wrap.active {
  visibility: visible;
  opacity: 1;
  transition: opacity ease 0.25s;
}

.modal-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-wrap .modal-con {
  position: relative;
  z-index: 10;
  max-width: 500px;
  min-width: 300px;
  min-height: 100px;
  width: 33%;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  transform: translateY(80px);
  transition: transform ease 0.3s 0.1s;
}

.modal-wrap.active .modal-con {
  position: relative;
  z-index: 10;
  max-width: 500px;
  min-width: 300px;
  min-height: 100px;
  width: 33%;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  transform: translateY(0px);
}

.modal-wrap .modal-con .contents {
  padding: 20px 0;
}

.modal-wrap .modal-con .bottom {
  text-align: right;
  margin-top: 10px;
}
