/* Simple Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #58666e;
  background-color: #f0f3f4;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjus: 100%; /* iphone font size 변경 방지 */
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 10px 5px;
}
h1 {
  font-size: 1.8em;
}

#wrap {
  width: 100%;
  /* margin-top = header height */
  margin-top: 60px;
}

/* Navigation bar */
header {
  /* for sticky header */
  position: fixed;
  top: 0;

  width: 100%;
  height: 60px;
  z-index: 2000;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.logo {
  display: inline-block;
  height: 36px;
  margin: 12px 0 12px 25px;
}
.logo > img {
  height: 36px;
}
nav {
  float: right;
}
.nav-items {
  margin-right: 20px;
}
.nav-items > li {
  display: inline-block; /* 가로정렬 */
}
.nav-items > li > a {
  line-height: 60px; /* for Vertical Centering */
  padding: 0 30px; /* nav item간 간격 */
  color: rgba(0, 0, 0, 0.4);
}
.nav-items > li > a:hover {
  color: rgba(0, 0, 0, 0.8);
}

/* navigation icon for Mobile Layout */
.navicon {
  cursor: pointer;
  height: 60px;
  padding: 28px 15px;
  position: absolute;
  top: 0;
  right: 0;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
/* nav icon의 내부 막대 */
.navicon-bar {
  background-color: #333;
  display: block;
  position: relative;
  /* navigation icon animation */
  transition: background-color 0.2s ease-out;
  width: 20px;
  height: 3px;
}
.navicon-bar::before,
.navicon-bar::after {
  background-color: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  /* navigation icon animation */
  transition: all 0.2s ease-out;
  width: 100%;
}
.navicon-bar::before {
  top: -7px;
}
.navicon-bar::after {
  top: 7px;
}
/* toggle navigation icon */
.nav-toggle:checked ~ .navicon > .navicon-bar {
  background: transparent;
}
.nav-toggle:checked ~ .navicon > .navicon-bar::before {
  transform: rotate(45deg);
  top: 0;
}
.nav-toggle:checked ~ .navicon > .navicon-bar::after {
  transform: rotate(-45deg);
  top: 0;
}

/* contents */
/* clearfix */
#content-wrap:after {
  content: '';
  display: block;
  clear: both;
}
aside {
  /* for fixed side bar */
  position: fixed;
  top: 60px;
  bottom: 0;

  width: 200px; /* 너비 고정 */
  padding-top: 25px;
  background-color: #333;
}
/* aside navigation */
aside > ul {
  width: 200px;
}
aside > ul > li > a {
  display: block;
  color: #fff;
  padding: 10px 0 10px 20px;
}
aside > ul > li > a.active {
  background-color: #4caf50;
}
aside > ul > li > a:hover:not(.active) {
  background-color: #555;
}
aside > h1 {
  padding: 20px 0 20px 20px;
  color: #fff;
}
/* Section */
section {
  float: right;
  margin-left: 200px; /*aside width*/
}
article {
  width: 48.5%;
  margin: 1%;
  padding: 25px;
  background-color: white;
  float: left;
}
article:nth-of-type(2n) {
  margin-left: 0;
}
article:nth-of-type(n + 3) {
  margin-top: 0;
}
/* footer */
footer {
  /* footer를 aside위에 올리기 위해 사용(부유객체) */
  position: absolute;
  height: 60px;
  width: 100%;
  padding: 0 25px;
  line-height: 60px;
  color: #8a8c8f;
  border-top: 1px solid #dee5e7;
  background-color: #f2f2f2;
}

.nav-toggle {
  display: none;
}
.navicon {
  display: none;
}
